<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="QA Academy">
    <test name="QA Academy page">
        <classes>
            <class name="com.danjerous.framework.HomePage">
            </class>
        </classes>
    </test>
    <test name="Validating home page title">
        <classes>
            <class name="com.danjerous.framework.ValidateTitle"/>
        </classes>
    </test>
    <test name="Validating navigation bar">
        <classes>
            <class name="com.danjerous.framework.ValidateNavigation"/>
        </classes>
    </test>
</suite>