<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="QA Academy">
    <test name="QA Academy page">
        <classes>
           <!-- <class name="com.danjerous.framework.HomePage">
            </class>-->
            <class name="com.danjerous.framework.ValidateTitle"/>
           <!--<class name="com.danjerous.framework.ValidateNavigation"/>-->
        </classes>
    </test>
</suite>